.fa-star{
    color: #FFD700;
}

.fa-music{
    color: #a225a2;
}
.list-group-item{
    border: none;
    padding: 0;
}

.youtube-icon:hover{
    color: red;
}

.spotify-icon:hover{
    color: green;
}

.card-cover {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card:hover {
    /* border: 2px solid #ff0000; */
    opacity: 0.8;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }