
.container{
    background-color: ghostwhite;
    margin-top : 20px;
    /* width: auto; */
    /* height: 700px; */
}

.Title{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Cairo Play', sans-serif;
    font-size: 100px;
}

.itemFilter{
    background-color: white;
    outline-style: solid;
    outline-color: gainsboro;
    outline-width: 1px;
    color: rgba(128, 128, 128, 0.74);
    /* width: auto;
    height: auto; */
    font-family:monospace;
}
.itemFilterHome{
    /* background-color: white; */
    outline-style: solid;
    outline-color: gainsboro;
    outline-width: 0px;
    /* color: rgba(128, 128, 128, 0.74); */
    /* width: auto;
    height: auto; */
    font-family:monospace;
}
.itemFilter:hover{
    background-color: #000000;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

.itemFilterHome:hover{
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

.items-style{
  
    color: rgba(128, 128, 128, 0.74);
    /* width: auto;
    height: auto; */
    font-family:monospace;
    

}

.fa-brands{
    font-size:xx-large;
}